<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="font-size: 50px;" align="center"><%= title %></h1>
    <div style="text-align: center; margin-top: 100px; margin-left: 450px ;border: 2px solid black; width: 500px;padding: 20px;">
        <h2>Admin Dashboard</h2><br>
        <a style="text-decoration: none; font-size: 16px;color: black; padding: 10px; background-color: chocolate; border-radius: 10px; margin: 20px;" href="/addEmployee">Add Employee</a><br><br><br>
        <a style="text-decoration: none; font-size: 16px;color: black; padding: 10px; background-color: chocolate; border-radius: 10px; margin: 20px;" href="/viewAllEmployee">View All Employee</a>
        <a style="text-decoration: none; font-size: 16px;color: black; padding: 10px; background-color: chocolate; border-radius: 10px; margin: 20px;" href="/enterAttaindance">Attaindance Dashboard</a>
    </div>
  </body> 
</html>
