<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align="center"><%= title %></h1>
    <p style="margin-top: 100px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tincidunt est. Duis bibendum posuere dolor. Quisque ac massa id turpis consectetur sodales non in est. Etiam semper felis pharetra, cursus tortor fringilla, faucibus dui. Aliquam erat volutpat. Donec eu magna nisi. Donec at scelerisque erat. Vestibulum imperdiet congue venenatis. Ut varius orci eu leo sagittis, id lacinia eros dictum. Cras id ipsum bibendum, molestie felis malesuada, interdum eros.
    Aliquam sit amet pellentesque erat, eu hendrerit metus. Suspendisse tincidunt bibendum nisi, vel vestibulum quam ultricies et. Etiam eu laoreet orci, non imperdiet libero. Donec at imperdiet est. Maecenas iaculis sapien sit amet orci vulputate, in congue odio blandit. Curabitur rhoncus lacinia dapibus. Donec sed felis massa.
     </p> 
    <a style="background-color: rgb(7, 248, 236); text-decoration: none; border-radius: 10px;padding: 20px; color: black;font-weight: bold; position: absolute; top: 500px; left: 600px" href="/adminLogin">Admin Login</a>
    <a style="background-color: rgb(7, 248, 156); text-decoration: none; border-radius: 10px;padding: 20px; color: black;font-weight: bold; position: absolute; top: 500px; left: 800px" href="/employeeLogin">Employee Login</a>
    
  </body> 
</html>
